<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.main.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>controller.system.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCarController</servlet-name>
        <servlet-class>controller.vegetable.ViewVegetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>controller.system.SignoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.vegetable.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVegetableController</servlet-name>
        <servlet-class>controller.vegetable.DeleteVegetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.vegetable.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaunchVegetableController</servlet-name>
        <servlet-class>controller.vegetable.LaunchVegetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.vegetable.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.cart.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>controller.cart.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controller.cart.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.system.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.cart.CheckOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/SigninController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCarController</servlet-name>
        <url-pattern>/ViewCarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/SignoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVegetableController</servlet-name>
        <url-pattern>/DeleteVegetableController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaunchVegetableController</servlet-name>
        <url-pattern>/LaunchVegetableController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--error-page>
        <error-code>404</error-code>
        <location>/home.jsp</location>
    </error-page-->
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
