.welcome {
    position: fixed;
    top: 180px;
    left: 490px;
    font-family: 'Lucida Handwriting';
    background-color: white;
    border: 3px solid #132D09;
    border-radius: 5px;
    text-align: center;
    width: 360px;
    height: 180px;
}

.welcome .btn {
    border-radius: 5px;
    height: 45px;
    font-size: 15px;
    width: 80px;
    background-color: #008000;
    border: 0px;
}

.error p {
    color: red;
}

.navbar .navlink {
    transform:  translateY(16px);
}

.searchbar {
    margin: 15px 15px 0px 30px;
}

